[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kubernetes = "==23.6.0"
requests = "==2.28.0"
jinja2 = "3.1.2"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.10"
